@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height:100vh;
    background:#191f36;
    padding:20px;
}

.container{
    background:#262840;
    border-radius: 10px;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 5%;
}

.logo{
    font-size:24px;
    color:#fff;
    font-weight:600;
    text-decoration: none;
}

.navbar a{
    color:#fff;
    margin-left:25px;
    text-decoration:none;
    transition:.3s;
}

.navbar a:hover{
    border-bottom:2px solid #fff;
}

/* HOME */
.home{
    padding:60px 5%;
    color:#fff;
}

.home-details h1{
    font-size:50px;
}

.home-details h2{
    font-size:35px;
    margin:10px 0;
    color:#9fa8da;
}

.home-details p{
    max-width:600px;
    margin:20px 0;
    line-height:1.6;
}

.download-social{
    display:flex;
    align-items:center;
}

.btn{
    padding:10px 20px;
    border-radius:30px;
    background:#fff;
    color:#262840;
    font-weight:500;
    text-decoration:none;
    margin-right:15px;
}

.btn:hover{
    background:transparent;
    color:#fff;
    border:2px solid #fff;
}

.social-icons a{
    margin-right:10px;
    font-size:22px;
    color:#fff;
}

/* SECTIONS */
.section{
    padding:50px 5%;
    color:#fff;
}

.title{
    font-size:32px;
    margin-bottom:20px;
}

/* ABOUT */
.about-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:2px;
}

.about-text{
    width:80%;
}

.about-img{
    width:340px;
    height:340px;
    border-radius:50%;
    overflow:hidden;
    border:4px solid #fff;
    box-shadow:0 0 15px #fff;
}

.about-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* SKILLS */
.skills-box span{
    display:inline-block;
    background:#191f36;
    padding:10px 15px;
    margin:8px;
    border-radius:20px;
}

/* CERTIFICATIONS */
.cert-list{
    list-style-type: square;
    padding-left: 20px;
}

.cert-list li{
    margin-bottom:10px;
}

/*  Achievements */
.Achie-list{
    list-style: square;
    padding-left:20px;
}
.Achieve-list li{
    margin-bottom:10px;
}

/* CONTACT */
.contact-form{
    max-width:400px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:5px;
}
